.Body {
	background: #abbaab;
	background: -webkit-linear-gradient(to top, #ffffff, #abbaab);
	background: linear-gradient(to top, #ffffff, #abbaab);
	height: 100%;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

.Logout {
	border: 3px solid brown;
	color: brown;
	margin: 25px auto;
	width: 120px;
	height: 40px;
	border-radius: 10px;
	outline: none;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	cursor: pointer;
	transition: 0.1s;
}

.Logout:hover {
	background-color: brown;
	color: white;
	transform: scale(1.1);
}

.Levels {
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.Levels a {
	margin: 10px 20px;
	width: 80px;
	height: 20px;
	border-radius: 7px;
	outline: none;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	background-color: rgb(243, 243, 243);
	cursor: pointer;
	text-decoration: none;
}

.Levels a:nth-child(1) {
	border: 3px solid green;
	color: green;
	transition: 0.1s;
}

.Levels a:nth-child(1):hover {
	background-color: green;
	color: white;
	transform: scale(1.1);
}

.Levels a:nth-child(2) {
	border: 3px solid orangered;
	color: orangered;
	transition: 0.1s;
}

.Levels a:nth-child(2):hover {
	background-color: orangered;
	transform: scale(1.1);
	color: white;
}

.ScoreBoard button {
	margin: 10px 20px;
	width: 80px;
	height: 30px;
	border-radius: 7px;
	outline: none;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
}

.ScoreBoard button:focus {
	border: 3px solid blue;
	color: white;
	background-color: blue;
	transition: 0.1s;
	transform: scale(1.1);
}

.ScoreBtn {
	border: 3px solid blue;
	color: blue;
	transition: 0.1s;
}

.ScoreBtnClicked {
	border: 3px solid blue;
	color: white;
	background-color: blue;
	transition: 0.1s;
	transform: scale(1.1);
}

.ScoreBoard ul {
	list-style: circle;
	margin: 0 auto;
	width: 450px;
	box-sizing: border-box;
	background-color: #191919;
}

.ScoreBoard ul li {
	padding: 5px;
	border: 1px solid lighrgray;
	text-align: left;
	display: flex;
	color: white;
	justify-content: space-between;
}

.ScoreBoard ul li:nth-child(1) {
	background: rgba(255, 255, 255, 0.3);
}

.ScoreBoard ul li:nth-child(2) {
	background: rgba(255, 255, 255, 0.2);
}

.ScoreBoard ul li:nth-child(3) {
	background: rgba(255, 255, 255, 0.1);
}

.ScoreBoard ul li span:nth-child(1) {
	width: 200px;
	text-align: left;
}

.ScoreBoard ul li span:nth-child(2) {
	width: 100px;
	text-align: left;
}

@media (max-width: 500px) {
	.ScoreBoard ul {
		width: initial;
	}
}
