.Container {
	width: 380px;
	height: 400px;
	overflow: hidden;
}

.Squeeze {
	transform: scaleX(0);
	transition: 200ms ease-out;
}

@keyframes slidein {
	from {
		transform: scaleX(0%);
	}

	to {
		transform: scaleX(100%);
	}
}

.Enlarge {
	transform: slidein;
	transition: 200ms ease-out;
}
