.Container {
	width: 400px;
	height: 400px;
	overflow: hidden;
}

.Out {
	transform: translateY(50px);
	transition: all 0.5s ease-out;
}

.In {
	transform: translateY(-400px);
	transition: all 0.5s ease-out;
}

.Up {
	transform: translateY(-400px);
	transition: all 0.5s ease-out;
}

.Normal {
	transition: all 0.5s ease-out;
}
